
{% block interests %}
    <!-- ======= Интересы ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Профессиональные интересы</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-file-code-line" style="color: #ffbb2c;"></i>
            <h3>HTML CODER</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #e80368;"></i>
            <h3>Техническая литература</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-slideshow-line" style="color: #e361ff;"></i>
            <h3>Веб-дизайн</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-hammer-line" style="color: #4233ff;"></i>
            <h3>Железо</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-briefcase-fill" style="color: #b2904f;"></i>
            <h3>IT-курсы</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-computer-line" style="color: #b20969;"></i>
            <h3>FRONTEND DEVELOPER</h3>
          </div>
        </div>
      </div>
    </div><!-- конец раздела -->
<!-- ======= 22Интересы22 ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Работа и образование</h2>
      </div>
      <!-- education -->
      <div class="container-z">
        	<div class="row">
                <div class="rounded-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="resume-out">
                    <div class="resume-info">
                        <h2 class="info-title">Компьютерная Академия ШАГ</h2>
                        <span class="info-date">2024 </span>
                        <p>Серия курсов под общим названием «Тестирование ПО» </p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Белорусский государственный университет физической культуры</h2>
                        <span class="info-date">2023 </span>
                        <p>Спортивно-педагогический факультет массовых видов спорта, Тренер-преподаватель в избранном виде спорта</p>

                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Бобруйское государственное училище олимпийского резерва</h2>
                        <span class="info-date">2016 </span>
                        <p>Спортивно-педагогическая деятельность</p>
                    </div> <!-- .resume-info -->
                </div> <!-- .resume-out end -->
            </div> <!-- .row end -->
        <!-- experience -->
        	<div class="row">
                <div class="rounded-icon">
                    <i class="fa fa-suitcase"></i>
                </div>
                <div class="resume-out">
                    <div class="resume-info">
                        <h2 class="info-title">ГУО «ФСЦДиМ Советского района г. Минска»</h2>
                        <span class="info-date">2024 </span>
                        <p>Методист </p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Стажировка в компьютерной Академии ШАГ</h2>
                        <span class="info-date">15.05.2023-30.01.2024 </span>
                        <p>Академия ШАГ в рамкаx ручного тестирования
                            предоставила web-приложение, с которым выполнял
                            такие действия как анализ документации, а так же её
                            дополнение, составил тест-кейсы и чек-листы,
                            провел полное тестирование данного приложения,
                            завел баг-репорты, написал отчет о проделанной
                            работе. В рамках автоматизированного тестирования
                            мною был выбран интернет-магазин, с которым я
                            выполнял такие действия как:
                            1. Поиск локаторов.
                            2. Разработка и поддержка автоматизированных
                            тестовых сценариев с использованием Python и
                            фреймворка для тестирования, таких как PyTest.
                            3. Использование инструментов для автоматизации
                            тестирования, таких как Selenium WebDriver для
                            тестирования веб-приложений с использованием
                            Python.
                            4. Создание отчетов о результатах тестирования и
                            предоставление информации о дефектах
                            разработчикам с помощью Allure.
                        </p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Бобруйская специализированная детско-юношеская школа олимпийского резерва</h2>
                        <span class="info-date">2022 </span>
                        <p>Инструктор-методист по физкультурно-оздоровительной, спортивно-массовой работе</p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Бобруйский отдел Департамента охраны МВД Республики Беларусь</h2>
                        <span class="info-date">2021 </span>
                        <p>Милиционер</p>
                    </div> <!-- .resume-info -->
                </div> <!-- .resume-out end -->
            </div> <!-- .row end -->
      </div>
    </div>
  </section><!-- конец секции Резюме -->
{% endblock %}