{% block resume %}
  <!-- ======= Результаты ALLURE ======= -->
  <section id="resume" class="about">

    <!-- ======= ALLURE ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About Me</h2>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <p class="fst-italic">
<p>Меня зовут Алексей. Я успешно окончил курсы в Компьютерная академия «ШАГ», по направлению ручное и
  автоматизированное тестирование ПО. В рамках этих курсов я приобрел следующие навыки:</p>
<div class="box-z">
    <p>• Smoke test, Critical path test, Extended test</p>
    <p>• White box, Black box, Grey box</p>
    <p>• Основные техники тест-дизайна:
    классы эквивалентности, граничные
    значения, попарное тестирование
    </p>
    <p>• Составление Test case, Check-list</p>
    <p>• Тестирование документации</p>
    <p>• Функциональное тестирование</p>
    <p>• Нефункциональные тестирование</p>
    <p>• Тестирования связанные с изменениями</p>
    <p>• AGILE-МЕТОДОЛОГИИ </p>
    <p>• Локализация, оформление багов и улучшений в баг-трекинговых системах </p>
    <p>• Разработка и поддержка автоматизированных тестовых сценариев с использованием Python и фреймворка для тестирования, таких как PyTest </p>
    <p>• Использование инструментов для автоматизации тестирования, таких как Selenium WebDriver для тестирования веб-приложений с использованием Python </p>
    <p>• Создание отчетов о результатах тестирования и предоставление информации о дефектах разработчикам с помощью Allure </p>

</div>
<p></p>
</div><!-- конец секции -->
<div class="box-x">
<p>Мне нравится работать в этой области, потому что у меня есть возможность влиять на качество продукта и улучшать
  жизнь пользователей, которые используют эти приложения. Я стремлюсь выполнять свою работу с высоким качеством,
  не боюсь принимать новые и сложные задачи, и в этом мне помогают мои качества, такие как усидчивость и внимательность
  к деталям. Эти качества позволяют мне выявлять баги и подробно описывать ошибки, что, в свою очередь, способствует
  устранению дефектов в продуктах.</p>
</div>
{% endblock %}